<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li>
        <%= link_to "档案中心",root_path%>
        </li>
      </ul>
      <%= render "shared/user_info"%>
    </div>
  </div>
</div>
